<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> HR Payroll </div>
    <div class="list-group list-group-flush">
      <a href="#" [routerLink]="['/EmployeeList/']" class="list-group-item list-group-item-action bg-light">View Employee</a>
      <a href="#" [routerLink]="['/EmployeePayrollList/']" class="list-group-item list-group-item-action bg-light">View Employee Payroll List</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Payroll Report</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->