<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <h1 class="title">
        HR PAYROLL
      </h1>
      <div class="toggle" (click)="handleSidebarToggle()">
        <span class="chevron"></span>
      </div>
    </div>
    <div class="content">
      <div class="link">
        <div class="content" [routerLink]="['/dashboard/EmployeeList/']" [routerLinkActive]="'active'">
          <div class="title">Employee List</div>
        </div>
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/dashboard/EmployeePayrollList/']" [routerLinkActive]="'active'">
          <div class="title">Payroll List</div>
        </div>
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/dashboard/Payrollreport/']" [routerLinkActive]="'active'">
          <div class="title">Payroll Report</div>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>